@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Barque Docker</h1>
    <h2> Test Deployment </h2>
    <h3>third deployment</h3>
    <h3>Final deployment</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
